---
import { Heading, BodyShort } from "@navikt/ds-react";
import { text } from "@src/language/text";
import ClientIsland from "@src/components/ClientIsland";
import logger from "@src/utils/logger";
import { getOboToken } from "@src/utils/token";
import type { Language } from "@src/types";
import styles from "@src/styles/index.module.css";
import "@src/styles/aksel.css";

const exampleApiUrl = import.meta.env.EXAMPLE_API_URL;

const exampleData: any = await fetch(exampleApiUrl, {
  method: "GET",
  headers: {
    "Content-Type": "application/json",
    Authorization: `Bearer ${getOboToken(Astro.locals.token)}`,
  },
})
  .then((response) => {
    if (!response.ok) {
      throw new Error(`HTTP error with status code: ${response.status}, and status text: ${response.statusText}`);
    }
    return response.json();
  })
  .catch((error) => {
    logger.error("Error fetching example data:", error);
    return { error: "Internal server error" };
  });

const language = Astro.currentLocale as Language;
---

<section class="tms-microfrontend-template-ssr">
  <div class={styles.microfrontend}>
    <Heading size="medium" level="2">
      {text.title[language]}
    </Heading>
    <BodyShort>
      {text.name[language]}: {exampleData.name}
    </BodyShort>
    <ClientIsland client:only="react" />
  </div>
</section>
